.main-body{
  max-width: 540px;
  border: 2px solid #000;
  background: orange;
  margin: 70px auto 20px;
  border-radius: 15px;
}
.todo-app{
    padding: 60px;
}
li{
  list-style: none;
}
.task-list {
  text-align: left;
  padding: 0;
}
.add-task, h1{
  text-align: center;
}
.inputtext{
  border: 1px solid #f3f3f3;
  margin-bottom: 3px;
  padding: 11px;
  width: 80%;
  margin-right: 15px;
  border-radius: 21px;
}
.add-btn{
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 20px;
}
.task-status{
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
}
.clr-btn{
  background: #4caf50;
  padding: 15px;
  font-size: 15px;
  border: 1px solid #4caf50;
  border-radius: 50px;
}
.todo-app{
  text-align: center;
}
.clr-btn:hover{
  cursor:pointer;
}

.checked{
  margin-right: 20px;
}
.delete-btn{
  float: right;
}
.todolist{
  font-size: 18px;
  padding: 10px 15px;
}